# Node.js
**/node_modules/
npm-debug.log
yarn-error.log
.env

# Python
AI-services/venv/
AI-services/*.pyc
AI-services/__pycache__/
**/config.json
**/config.cfg
AI-services/models/cv-parser

# React
**/.cache/
**/.next/
**/build/

# Các file khác không cần thiết
.DS_Store  # Nếu bạn sử dụng macOS
